<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CUSTOM_FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test-output.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CUSTOM_FILE"/>
    </root>
</configuration>
